{% extends 'base.html' %}

{% block content %}
<div class="container fs-5 my-5">
<p>Disclaimer: The products showcased on this website are for demonstration purposes only.
    They have been obtained from various websites that provide similar services and are used as
    examples to showcase the functionality of this site. Please note that these products are not
    available for purchase through this website, and any prices or availability information displayed
    is not accurate or up-to-date. No actual transactions or purchases can be made on this site.
    The purpose of this project is to demonstrate the features and design of an online marketplace.</p>

<p>Attention: This is a demonstration site. Do not enter any real payment information or use personal
    credentials. Any data entered on this site is for simulation purposes only and will not be stored
    or used for any real transactions.</p>
</div>

{% endblock %}